<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<section class="jumbotron text-center">
    <div class="container">
        <h1>스터디올래</h1>
        <p class="lead text-muted">
            <span th:if="${!#strings.isEmpty(error)}" th:text="${error}">잘못된 접근입니다.</span>
        </p>
        <p>
            <a th:href="@{/}" class="btn btn-primary my-2">첫 페이지로 돌아가기</a>
        </p>
    </div>
</section>
<div th:replace="fragments.html :: footer"></div>
</body>
</html>